html, body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat {
  position: fixed;
  bottom: 0;
  width: 95%;
  padding-top: 57px;
}

.chat-messages {
  height: 650px;
  
}

.message-box {
  width: 84%;
}

.z-1 {
  z-index: 1;
}
.z-0 {
  z-index: 0;
}